Source: node-resumer
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Ross Gammon <rosco2@ubuntu.com>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-concat-stream <!nocheck>
 , node-tape <!nocheck>
 , node-through <!nocheck>
 , nodejs
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-resumer
Vcs-Git: https://salsa.debian.org/js-team/node-resumer.git
Homepage: https://github.com/substack/resumer
Rules-Requires-Root: no

Package: node-resumer
Architecture: all
Depends: ${misc:Depends}
 , node-through
Description: through stream that starts paused and resumes on the next tick
 Return a through stream that starts out paused and resumes on the next tick,
 unless somebody called .pause().
 .
 This module has the same signature as through.
 .
 Node.js is an event-based server-side JavaScript engine.
